nav{
    background-color: blue;
    font-weight: bold;
    width: 1850;
    height: 50;
    padding: 15px 15px;
    color: white;
    text-align: left;
    }

section div{
    border: solid  2px black;
    margin: 28px;
    height: 30%;
    width: 30%;
    display: inline-block;
}

section p{
    color: white;
    background-color: blue; 
    text-align: center;
    vertical-align: top;
    margin: 0px;
}

footer{
position: relative;
text-align: center;
}

footer img{
    border: solid black 3px;
    height: 400;
    width: 1800;
}

footer p{
color: white;
position: absolute;
top: 3px;
left: 5px;
margin: 0px;
}